pandas
numpy
altair
json5
pickleshare
scikit-learn
scipy<1.13
gensim
tensorflow
spacy
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.0/en_core_web_sm-3.4.0-py3-none-any.whl
streamlit
pillow
einops
opencv-python-headless
